{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="blog-header col-md-8">

                <h1 class="blog-title" style="margin-top: 100px;">Fale Conosco</h1>

                <p class="lead blog-description">Para sugestões, elogios, reclamações e trabalhe conosco
                    <br>entre em contato atráves do formulário abaixo
                </p>
            </div>
            <div class="blog-header col-md-4">
                <h1><i class="fa fa-commenting-o" style="font-size: 150px;margin-top: 25%;color: #337AB7;"></i></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><a href="{% url 'site:index' %}">Home</a>
                    </li>
                    <li class="active">Contato</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <!-- Map Column -->
            <div class="col-md-8">
                <!-- Embedded Google Map -->
                <h4>Mapa</h4>

                <div id="googleMap" style="height:400px;width:100%;"></div>

                <!-- Add Google Maps -->
                <script src="http://maps.googleapis.com/maps/api/js"></script>
                <script>
                    var myCenter = new google.maps.LatLng(-3.7387716, -38.5047914);

                    function initialize() {
                        var mapProp = {
                            center: myCenter,
                            zoom: 12,
                            scrollwheel: false,
                            draggable: false,
                            mapTypeId: google.maps.MapTypeId.ROADMAP
                        };

                        var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);

                        var marker = new google.maps.Marker({
                            position: myCenter,
                        });

                        marker.setMap(map);
                    }

                    google.maps.event.addDomListener(window, 'load', initialize);
                </script>
                <h3 id="success">Envie sua mensagem</h3>
                {% if is_valid %}
                    <h1 class="featurette-heading" style="color: blue;margin-top: 10px;">Formulário enviado com
                        sucesso!<span><i
                                class="fa fa-thumbs-o-up"></i></span></h1>
                {% endif %}
                <form name="sentMessage" id="contactForm" novalidate method="post" action="#success"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="control-group form-group">
                            <div class="controls">
                                {{ field.label_tag }}
                                {{ field }}
                                {% if field.errors %}
                                    <ul class="errorlist" style="color: red">
                                        {% for error in field.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
            <!-- Contact Details Column -->
            <div class="col-md-4">
                <h4>Detalhes para contato</h4>

                <div class="sidebar-module sidebar-module-inset">
                    <img src="{% static 'images/site/talente center.jpg' %}" alt="latest Little Neko news"
                         id="footerLogo" style="width: 100%;">
                    <h4>Edifício Talent Center</h4>

                    <p><i class="fa fa-map-marker" style="color: #337AB7"></i>
                        <abbr title="addr">End</abbr>:
                        Rua João Carvalho, 800<br>Fortaleza, CE 60811-020<br>
                    </p>

                    <p><i class="fa fa-phone" style="color: #337AB7"></i>
                        <abbr title="Phone">Tel</abbr>: (85) 3038-8600 / (84) 3642-3047 / <br>(82) 3313-5455</p>

                    <p><i class="fa fa-mobile" style="color: #337AB7;"></i>
                        <abbr title="Phone">Cel. Sobreaviso</abbr>: (85) 98851-3621 / (84) 98711-2070 / <br>(82)
                        98842-8209 *Somente ligações emergenciais fora do horario comercial</p>

                    <p><i class="fa fa-envelope-o" style="color: #337AB7"></i>
                        <abbr title="Email">E-mail</abbr>: <a href="mailto:atendimento@logicasuporte.com.br">atendimento@logicasuporte.com.br</a>
                    </p>

                    <p><i class="fa fa-clock-o" style="color: #337AB7"></i>
                        <abbr title="Hours">Data</abbr>:
                        <script>
                            var now = new Date();
                            var hours = now.getHours();
                            var minutes = now.getMinutes();
                            var timeValue = "" + ((hours > 12) ? hours - 12 : hours)

                            timeValue += ((minutes < 10) ? ":0" : ":") + minutes
                            timeValue += (hours >= 12) ? " PM" : " AM"
                            timerRunning = true;

                            mydate = new Date();
                            myday = mydate.getDay();
                            mymonth = mydate.getMonth();
                            myweekday = mydate.getDate();
                            weekday = myweekday;
                            myyear = now.getFullYear()
                            year = myyear;

                            if (myday == 0)
                                day = "Domingo, "
                            else if (myday == 1)
                                day = "Segunda-Feira, "
                            else if (myday == 2)
                                day = "Terça-Feira, "
                            else if (myday == 3)
                                day = " Quarta Feira, "
                            else if (myday == 4)
                                day = " Quinta Feira, "
                            else if (myday == 5)
                                day = " Sexta Feira, "
                            else if (myday == 6)
                                day = " Sábado, "

                            if (mymonth == 0)
                                month = " de Janeiro de "
                            else if (mymonth == 1)
                                month = " de Fevereiro de "
                            else if (mymonth == 2)
                                month = " de Março de "
                            else if (mymonth == 3)
                                month = " de April de "
                            else if (mymonth == 4)
                                month = " de Maio de "
                            else if (mymonth == 5)
                                month = " de Junho de "
                            else if (mymonth == 6)
                                month = " de Julho de "
                            else if (mymonth == 7)
                                month = " de Agosto de "
                            else if (mymonth == 8)
                                month = " de Setembro de"
                            else if (mymonth == 9)
                                month = " de Outubro de"
                            else if (mymonth == 10)
                                month = " de Novembro de"
                            else if (mymonth == 11)
                                month = " de Dezembro de"

                            document.write(day + myweekday + month + year + " - " + timeValue);
                        </script>
                    </p>
                    <ul class="list-unstyled list-inline list-social-icons">
                        <li>
                            <a href="https://www.facebook.com/L%C3%B3gicaSuporte-199828220103327/?fref=ts"
                               target="blank"><i
                                    class="fa fa-facebook-square fa-2x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-google-plus-square fa-2x"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.row -->
        </div>
    </div>
    <hr class="featurette-divider-footer">
{% endblock %}