{% load static %}
<!DOCTYPE html>
<html>
<head lang="pt-br">
    <meta charset="UTF-8">
    <title></title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/site/style.css' %}" rel="stylesheet">
    {% block extrastyle %}{% endblock %}
    <!-- Icon TAB -->
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    {% block extraicon %}{% endblock %}
    <!-- Custom Fonts -->
    <link href="{% static 'fonts/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>

<h1 style="color: #003366"><i class="fa fa-binoculars">
</i> Setor Comercial, favor, entrar em contato com o cliente abaixo:
</h1>

<p><strong>Nome</strong>: {{ name }}</p>

<p><strong>E-mail</strong>: {{ email }}</p>

<p><strong>Telefone</strong>: {{ phone }}</p>

<p><strong>Celular</strong>: {{ cellphone }}</p>

<p><strong>Operadora</strong>: {{ mobileOperator }}</p>

<p><strong>Empresa</strong>: {{ company }}</p>

<p><strong>Site</strong>: {{ site }}</p>

<p><strong>Cidade</strong>: {{ city }}</p>

<p><strong>Estado</strong>: {{ state }}</p>

<p><strong>Versão do sistema preferifa</strong>: {{ version }}</p>

<p><strong>Arquivo</strong>: {{ attach }}</p>
{{ obs | linebreaks }}
</body>
</html>